.header-index {
  text-align: center;
}

.container-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 50px;
}

.card {
  height: 580px;
  text-align: center;
  margin: 25px;
}

.card-img {
  margin-top: 45px;
}

a:hover {
  text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: gray;
    height: 60px;
    position: relative;
}

.btn {
  position: absolute;
  right: 15px;
}

#home-btn {
  width: 40px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 20px;
}
