<div class="navbar">
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-light", id:"add-cocktail-btn" %>
  <a id="home-link" href="/" role="button">
    <img id="home-btn" src="https://res.cloudinary.com/dmwnfqoel/image/upload/v1607820937/19-197749_cocktail-clipart-clip-art-cocktail-clipart-png-transparent-removebg-preview_ecmbem.png" alt="home button">
  </a>
</div>
